<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 mx-auto card">
      <div class="m-2" *ngIf="showErrorMessage">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{errorMessage}}</strong>
        </div>
      </div>

      <div *ngIf="showSuccessMessage">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{successMessage}}</strong>
        </div>
      </div>

      <h1 class="text-center m-4"> Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="Enter email" name="email" formControlName="email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div
          *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['email'].errors.required">
            Email is required.
          </div>

          <div *ngIf="loginForm.controls['email'].errors.pattern">
            Please provide a valid email address
          </div>
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password"
                 formControlName="password" required>
        </div>
        <div
          *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="loginForm.controls['password'].errors.required">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Submit</button>
          </div>

        </div>
      </form>

      <div class="row">
        <div class="m-3 ml-auto">
          <a routerLink="/register">Regiter here!</a>
        </div>
      </div>

    </div>
  </div>
</div>
