
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="onSignOut()">Logout</button>
      </ul>

    </div>
  </div>

</nav>


<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2>List Users</h2>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">FullName</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-active" *ngFor="let user of listUsers; let index">
          <th scope="row">{{user.email}}</th>
          <td>{{user.fullname}}</td>
          <td>{{user.address}}</td>
          <td>{{user.phone}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


