<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 mx-auto card">
      <div class="m-2" *ngIf="showErrorMessage">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{errorMessage}}</strong>
        </div>
      </div>

      <div *ngIf="showSuccessMessage">
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{successMessage}}</strong>
        </div>
      </div>
      <h1 class="text-center m-4"> Register</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" name="email"
                 formControlName="email" required>
        </div>
        <div
          *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
          class="alert alert-danger">
          <div *ngIf="registerForm.controls['email'].errors.required">
            Email is required.
          </div>

          <div *ngIf="registerForm.controls['email'].errors.pattern">
            Please provide a valid email address
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"
                 formControlName="password" required>
        </div>

        <div
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
          class="alert alert-danger">
          <div *ngIf="registerForm.controls['password'].errors.required">
            Password is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputFullname">FullName</label>
          <input type="text" class="form-control" id="inputFullname" placeholder="FullName" name="fullname"
                 formControlName="fullname" required>
        </div>
        <div
          *ngIf="registerForm.controls['fullname'].invalid && (registerForm.controls['fullname'].dirty || registerForm.controls['fullname'].touched)"
          class="alert alert-danger">
          <div *ngIf="registerForm.controls['fullname'].errors.required">
            FullName is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Address" name="address"
                 formControlName="address">
        </div>

        <div class="form-group">
          <label for="inputBirthday">Birthday</label>
          <input type="text" class="form-control" id="inputBirthday" placeholder="Birthday" name="birthday"
                 formControlName="birthday">
        </div>

        <div class="form-group">
          <label class="control-label">Phone</label>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">+56</span>
              </div>
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" name="phone"
                     formControlName="phone" required>
            </div>
          </div>
        </div>
        <div
          *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)"
          class="alert alert-danger">
          <div *ngIf="registerForm.controls['phone'].errors.required">
            Phone is required.
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Submit</button>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="m-3 mr-auto">
          <a routerLink="/login">Login here!</a>
        </div>
      </div>

    </div>
  </div>
</div>
